{
  "presets": [
    "react-native"
  ],
  "plugins": [
    "transform-inline-environment-variables",
    ["module-resolver", {
      "alias": {
        "assets": "./src/assets",
        "helpers": "./src/helpers",
        "components": "./src/components"
      }
    }]
  ]
}