{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native",
  ],
  "globals": {
    "navigator": true
  },
  "rules": {
    "global-require": 0,
    "no-console": 0,
    "no-alert": 0,
    "no-return-assign": 0,
    "max-len": [0, 100, 2],
    "no-use-before-define": 0,
    "import/prefer-default-export": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unescaped-entities": 0,
    "react/forbid-prop-types": 0,
    "react/sort-comp": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 0,
    "react-native/no-color-literals": 2,
    "comma-dangle": ["error", "always-multiline"],
  },
}
